<br />
<br />
<br />
  <%= image_tag "Faces_small.png", class: "home-img" %>
<br />

<div class="col-8 offset-2">
  <div class="video-container text-center">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/RW6K4jgZBHo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>

<br />
<br />
<br />