@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

body {
  background: image_url('Faces_1');
  font-family: 'Poppins', sans-serif;
  color: white;

}

.navbar {
  background: image_url('papyrus-dark');
}

.gallery-pic {

}