@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

body {
  background: image_url('Faces_1') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Poppins', sans-serif;
  color: white;

}

.navbar {
  background: image_url('papyrus-dark');
}

.gallery-pic {
  width: 100%;
  border:3px solid white;
}

.box2 {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}

.box {
  float: left;
  width: 42.5%;
  margin-left: 5%;
  margin-top: 80px;
}

.clear {
  clear: both;
}